/* Box models*/
.box{
    padding: 10px;
    width: 90%;
    margin: 100px auto 10px ;
    border: 1px solid rgba(160, 160, 160, 0.568);
    border-radius: 10px;
    box-shadow: rgba(67, 65, 146, 0.45) 0px 5px 15px 0px; 
    -webkit-box-shadow:  rgba(67, 65, 146, 0.45) 0px 5px 15px 0px;
    -moz-box-shadow:  rgba(67, 65, 146, 0.45) 0px 5px 15px 0px;  
    background-color: rgba(255, 255, 255, 0.45);
    /*Grid Del Contenedor Gral de la Pag */
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.box__section{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    margin: 2% 2%;
    width: 98%;
    min-height: 200px;
    border: 1px solid rgba(160, 160, 160, 0.568);
    border-radius: 10px;
    box-shadow: rgba(67, 65, 146, 0.45) 0px 5px 15px 0px; 
    -webkit-box-shadow:  rgba(67, 65, 146, 0.45) 0px 5px 15px 0px;
    -moz-box-shadow:  rgba(67, 65, 146, 0.45) 0px 5px 15px 0px;   
    align-self: center;
    justify-self: center;   
    
}

/*Box con contenido a izq*/
.box-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.box-content .box-left-column{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}


/*Modificacion para contenido a derecha*/ 
.box-content .box-right-column{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-items: center;
}

/* Contenedor General Para Index*/
.box--index{
    @extend .box;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

/*Galleria tipo Insta */
.box__gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.box__gallery__img{
    flex-basis: 42%;
    height: 300px;
    margin-top: 15px;
    box-shadow: rgba(67, 65, 146, 0.75) 0px 0px 7px;
}

/*Buttons*/
.btn__color a {
    display: inline-block;
    text-transform: uppercase;
    color: #ff0040;
    text-decoration: none;
    border: 2px solid;
    background: transparent;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    margin: 1rem;
  }
  
  .btn__color a:hover {
    color: #0004ff;
  }



/* Footer */
.box__footer{
    background: rgb(1, 0, 10);
    width: 90%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}