
/* Grid Areas*/    
/*.slider__home - esta seteado en _Slider*/

.grid--slider{
    grid-area: slider;
}
.grid--upcoming{
    grid-area: upcoming;
}

.grid--tweet{
    grid-area: tweet;
}
.grid--somos{
    grid-area: somos;
}
.grid--tour{
    grid-area: tour;
}

/*Media Queries */
/*Default*/
/* Celulares */
@media only screen and (max-width: 767px) {
    .box--index{
        grid-template-areas: 
        "slider         slider      slider      slider  "
        "slider         slider      slider      slider  "
        "upcoming       upcoming    upcoming    upcoming"   
        "tweet          tweet       tweet       tweet   "
        "tour           tour        tour        tour    "
        "somos          somos       somos       somos   "
        ;
    }
    a {
        margin: 0.5rem;
    }
    .box-content .box-left-column , .box-content .box-right-column  {
        flex-direction: column;
    }
    .img__50{
        width: 100%;
    }
    .header {
        a{
          font-size: small;
          font-weight: 800;
          }
    }
    .navbar-dark .navbar-text{
        font-weight: 400;
        color: whitesmoke;
        font-size: 1em;
    } 
    /* .navbar-toggler-icon, .navbar-dark .navbar-toggler{
        color: red;
    }  */

}

/* kindle - Ipad */
@media only screen and (min-width: 768px) {
    .box--index {
        grid-template-areas: 
        "slider         slider      slider      slider"
        "slider         slider      slider      slider"
        "upcoming       upcoming    tweet       tweet"
        "upcoming       upcoming    tweet       tweet"   
        "tour           tour        tour        tour"
        "somos           somos       somos       somos"
        ;   
    }
    .box-content{ .box-left-column {
        flex-direction: row;
        }.box-right-column {
            flex-direction: row-reverse;
            }
    }    
    .img__50{
        width: 50%;
    }
    .header {
      a{
        font-size: medium;
        font-weight: 800;
        }
    } 
}

/* Desktop */
@media only screen and (min-width: 1024px) {
    .box--index {
        grid-template-areas: 
        "slider         slider      upcoming    upcoming"
        "slider         slider      tweet       tweet"
        "tour           tour        tour        tour"
        "somos          somos       somos       somos"   
        ;
    }   
    .box-content{ .box-left-column {
        flex-direction: row;
        }.box-right-column {
            flex-direction: row-reverse;
            }
    }
    .img__50{
        width: 50%;
    }
    .header {
        a{
          font-size: x-large;
          font-weight: 800;
          }
      } 
}